<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOOK AT ME</title>
    <style>
        body {
            height: 100%;
            width: 100%;
        }

        #header {
            margin: 0;
            font-size: 30px;
            color: #28006e;
            background-color: red;
            width: 1920px;
            height: 1080px;
        }
    </style>
</head>
<body>
<div id="header">
    header
</div>

<div id="footer">
    footer
</div>
</body>
</html>